@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
$colorTheme: rgb(212, 15, 219) ;

*{
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #121212;
}

h1{
    color: $colorTheme;
    font-size: calc(1.6rem + 0.3vw);
}

.loadingGif{
    position: absolute;
    width: 140px;
    border-radius: 20px;
}

.gifContainer{
    width: 140px;
    margin: auto;
    position: relative;
}
input{
    outline: none;
    width: 70%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    color: whitesmoke;
    font-size: calc(1.2rem + 0.3vw);
}

.search-but{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
    color: $colorTheme;
    font-size: calc(1.1rem + 0.3vw);
    outline: none;
}

form{
    margin: auto;
    border: 2.8px solid $colorTheme;
    display: block;
    width: 20vw;
    min-width: 220px;
    max-width: 400px;
    border-radius: 1px;
    border-radius: 20px;
}

.daily{
    background-color: rgb(34, 33, 33);
    width: 80vw;
    min-width: 230px;
    height: 130px;
    max-width: 1580px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0px 0px 2.6px 1px rgba(114, 114, 114, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-left: 4px solid $colorTheme;
}

@mixin textCss {
    font-weight: 800;
    width: 100%;
    text-align: center;
}

@mixin firstPage {
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.text{
    color: $colorTheme;
    font-size: calc(20px + 0.53vw);
    @include textCss();
}
.textTitle{
    color: whitesmoke;
    @include textCss();
    font-size: calc(20px + 0.53vw);
}

.daily-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    height:100%;
    margin: auto;
}
.text-icon{
    color: whitesmoke;
    @include textCss();
    font-size: calc(23px + 0.53vw);
}

#flex-display{
    width: 50%;
    text-align: center;
}

.sun-text{
    color: $colorTheme;
    @include firstPage();
    font-size: calc(20px + 0.3vw);
}

.sun-icon-sun{
    @include firstPage();
    font-size: calc(55px + 0.3vw);
    color: rgb(255, 217, 0)
}

.sun-icon-moon{
    @include firstPage();
    font-size: calc(55px + 0.3vw);
    color: rgb(139, 139, 139);
}
.temperature{
    color: $colorTheme;
    @include firstPage();
    font-size: calc(33px + 0.5vw);
}

.city{
    @include firstPage();
    color: whitesmoke;
    font-size: calc(30px + 0.5vw);
}

#date{
    @include firstPage();
    color: rgb(144, 144, 144);
    font-size: calc(20px + 0.5vw);
}

a{
    text-decoration: none;
    color: $colorTheme;
}

@media (max-width:600px) {
    .daily-container{
        width: 99%;
    }
    .daily{
        width: 97%;
    }
    .nav-title{
        width: 90%;
        margin: auto;
        text-align: center;
    }
}

.hours-container{
    width: 100%;
    margin-top: 30px;
    height: calc(120px + 1.3vw);
    background-color: rgb(85, 85, 85);
    display: inline-flex;
    overflow-x: scroll;
    align-items: center;
    overflow-y: hidden;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 2px rgba(172, 172, 172, 0.11);
}

.hours-container::-webkit-scrollbar{
    background-color: rgb(44, 44, 44);
    height: 4px;
}
.hours-container::-webkit-scrollbar-track{
    background-color: rgb(79, 79, 80);
}

.hours-container::-webkit-scrollbar-thumb{
    background-color: rgb(235, 235, 235);
}

::-webkit-scrollbar{
    background-color: rgb(44, 44, 44);
    width: 4px;
}

::-webkit-scrollbar-track{
    background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb{
    background-color: $colorTheme;
}


.hour-container{
    min-width: 120px;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
}

.hour-text{
    @include firstPage();
    font-size: calc(15px + 0.2vw);
}

#hour-temp{
    color: $colorTheme;
}

.back-but{
    width: 50px;
    outline: none;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.nav-title{
    margin-left: 20px;
    margin-top: 5px;
}

nav{
    border-bottom: 2px solid $colorTheme;
}

@keyframes rotate{
    to{transform: rotate(360deg);}
}

.main-sun{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: calc(100px + 7vw);
    color: rgb(246, 212, 16);
    animation: rotate 7s linear infinite;
}
.week-link{
    width: 100%;
    display: block;
    text-align: center;
    font-size: calc(20px + 0.1vw);
    border-bottom: 2px solid $colorTheme;
    font-weight: 800;
    margin-bottom: 20px;
    transition: all 400ms;
}

.week-link:hover{
    background-color: whitesmoke;
}

#main{
    margin-top: 20px;
    min-height: 86vh;
}

#daily-main{
    margin-top: 20px;
    min-height: 91vh;
    margin-bottom: 50px;
}

footer{
    background-color: grey;
    height: 100px;
}

footer h2{
    @include textCss();
}

footer a{
    display: block;
    @include textCss();
}

#footer-render-main{
    min-height: 89vh;
}

#main-wind{
    height: 115px;
}

.other-data-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

.other-data span{
    color: $colorTheme
}

.other-data{
    @include textCss();
    font-size: calc(24px + 0.3vw);
    color: whitesmoke;
}

#back-link{
    color: $colorTheme;
    text-decoration: underline;
}